$background-main: lightskyblue;
$background-secondary: rgb(112, 112, 234);
$background-button-menu: rgb(85, 85, 243);
$background-button: blue;
$background-button-second: rgb(46, 3, 188);
$background-oferta: red;
$color-text: black;
$color-text-button: white;
$color-text-oferta: yellow;
$color-text-links: white;
$color-text-links-hover-visited: black;