form {
    padding-left: 2%;
    label {
        display: inline-block;
        width: 70px;
    }
    input {
        width: 400px;
        height: 25px;
    }
    .textArea {
        vertical-align:top ;
    }
    .estiloTextArea {
        width: 400px;
        height: 200px;
    }
}

@mixin formulario {
    @media (max-width:500px) {
        @content;
    }
}

@include formulario() {
    input {
        width: 250px;
        height: 25px;
    }
    .estiloTextArea {
        width: 250px;
        height: 250px;
    }
}