header {
    background: $background-secondary; 
}

@mixin mobile {
    @media screen and (max-width:900px) {
        .barranav {
            display: none;
        }
        .grilla {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 80px;
            grid-template-areas: 
            "logo navbar"
            ;
            align-items: center;
        }
        .header__logo {
            grid-area: logo;
        }
        .header__navar {
            grid-area: navbar;
            width: 100%;
            height: 100%;
            justify-self: center;
        }

    }
}


@mixin pc {
    @media screen and (min-width:900px) {
        .dropdown {
            display: none;
        } 
        .grilla {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 80px;
            grid-template-areas: 
            "logo navbar"
            ;
            align-items: center;
        }  
    }
}