main {
    background: $background-main;
    padding: 10px;
    width: 100%; 
}

main div {
    margin: 20px;
}

.img__center {   
    text-align: center;
}

.img0 {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 80px;
    padding-left: 2%;
    &:hover{
        transform: scale(1.05);
    }
}

.img2 {
    margin-left: 30px;    

}

.bloqueImg {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.img3 {
    margin: 2%;
}

.img4 {
    margin: 20px;
}

main ul{
    list-style-type:disc;
    li{
        margin-top: 10px;
    }
}

