.dropdown {
    text-align: center;
    position: relative;
    display: block;
    
}

.dropbtn {
    background-color:$background-button-menu;
    color: $color-text-button;
    font-weight: bold;
    padding: 10px 16px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;    
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 25%;
    background-color: $background-button-menu;
    min-width: 120px;
    border: none;
    text-align: center;
    z-index: 1;
    .link {
        color: $color-text-links;
        padding: 6px 0;
        text-decoration: none;
        display: block;
        &:hover {
            color: $color-text-links-hover-visited;
            font-weight: bold;
        }
    }  
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: black;
}

.barranav {
    ul {
        list-style-type: none; 
        display: flex;   
        flex-direction: row;   
        justify-content: end;  
        align-items:last baseline; 
        margin: 0;  
        padding: 0;
        a {
            font-family: Arial, Helvetica, sans-serif; 
            font-weight: bold;
            text-decoration: none;
            color: $color-text-links;
            padding-left: 12px;
            padding-right: 12px;
            &:hover {
                color: $color-text-links-hover-visited ;
            }
            
        } 
        
    }
}


