.botonEnviar {
    width: 100px;
    height: 40px;
    background: $background-button;
    color: $color-text-button;
    font-weight: bold;
    position: relative;
    left: 70px;
    border-radius: 7px;
}

.labelCV{
    display: flex;
    margin: 20px auto;
    background: $background-button;
    color: $color-text-button;
    width: 150px;
    height: 40px;
    border: 5px;
    border-radius: 10px;
    justify-content: center;
    font-weight: bold;   
    align-items: center;
}

.inputCV {
    display: none;
}