.botonEnviar {
    width: 100px;
    height: 40px;
    background: $background-button;
    color: $color-text-button;
    font-weight: bold;
    position: relative;
    left: 70px;
    border-radius: 7px;
}